/* general */
* {
    box-sizing: border-box;
  }

body,
html {
  background: #1b5e20;
  margin: 0;
  font-size: 18px;
}

#app {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #000;
}

h1{
  font-weight: 600;
  font-size: 2.2em;
  color: #fff;
}

button {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  background-color: #d32f2f;
  border: none;
  color: white;
  padding: 0.55em 1em 0.6em 1em;
  border-radius: 2em;
  cursor: pointer;
  font-weight: 500;
  font-size: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15); 
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);

}


button .material-icons {
  height: none;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

button p {
  display: inline-block;
  padding: 0px 0.3em;
  margin: 0px;
}
.material-icons {
  height: none;
  vertical-align: middle;
}

.subtitle {
    margin: 0px;
    font-size: 0.9em;
    color: #757575;
}

/* for editing the menu items */
.burger-ingredients-title{
  color: white;
  position:absolute;
  left: 300px;
}
.add-new-ingredient{
  margin-bottom: 0.5em;
  font-size: .8em;
  margin-right: 520px;
}
.menuitem{
  line-height: 1.8em;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  text-align: right;
  padding-bottom: 5px;
  margin: 20px 0px;
}
.menuitem-name{
  float: left;
}
.menuedits{
  background-color: white;
  padding: 1em 2.5em;
  border-radius: 1em;
  margin-top: 30px;
  margin-left: 250px;
  width: 750px;
} 

.menuitem .material-icons {
  font-size: 30px;
  margin: 0px 10px;
  cursor: pointer;
}
.menuitem img{
  height: 1.8em;
  max-width: 1.8em;
  vertical-align:middle;
  float: left;
  margin-right: 1em;
  border-radius: 20px;
}
/* for the add /edit ingredient components */
.edititem input, .additem input{
  border: 0.8px solid grey;
  border-bottom: 2px solid grey ;
  margin-bottom: 1em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input[type=number]{
  width: 40px;
}
.edititem, .additem{
  width: auto;
  padding: 1em 2.5em;
  border-radius: 1em;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #ffffff;
  color: black;
}
.submit-wait{
  background-color: rgb(189, 189, 189);
}
.backdrop{
  top: 0;
  left:0;
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.menu-bar {
  margin-top: 10px;
  padding-bottom: 30px;
}

.ingredientsHeader {
  margin-left: 260px;
  margin-bottom: 0px;
  font-size: 2.5em;
}

/* for the toggle switch */
.switch {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 2.1em;
  height: 1.2em;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.guestOrders {
  margin-bottom: 150px;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: .1em;
  bottom: .1em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #0a941c;
}
input:checked + .slider:before {
  -webkit-transform: translateX(.9em);
  -ms-transform: translateX(.9em);
  transform: translateX(.9em);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}